:root {
   /** Dark theme primary colors */
--color-primary-a0: #f6f5f4;
--color-primary-a10: #f7f6f5;
--color-primary-a20: #f8f7f6;
--color-primary-a30: #f9f8f8;
--color-primary-a40: #faf9f9;
--color-primary-a50: #fbfbfa;

/** Dark theme surface colors */
--color-surface-a0: #121212;
--color-surface-a10: #282828;
--color-surface-a20: #3f3f3f;
--color-surface-a30: #575757;
--color-surface-a40: #717171;
--color-surface-a50: #8b8b8b;

/** Dark theme mixed surface colors */
--color-surface-mixed-a0: #252525;
--color-surface-mixed-a10: #393939;
--color-surface-mixed-a20: #4f4f4f;
--color-surface-mixed-a30: #666666;
--color-surface-mixed-a40: #7d7d7d;
--color-surface-mixed-a50: #969696;


/** Dynamic variables */

--background-color: var(--color-surface-a0);
--foreground-color: var(--color-primary-a50);

--infobar-font-size: 18px;
--infobar-font-family: Iosevka, sans-serif;
--infobar-width: 5em;
--infobar-margin: 0.2em;
--pageinput-width: 1.5em;
--infobar-size: calc(var(--infobar-width) + var(--infobar-margin));

--content-width: 45em;
}

:root {
    width: 100%;
}

form, input {
    display: inline;
    border: none;
    align: left;
    font-size: var(--infobar-font-size);
    font-family: var(--infobar-font-family);
    padding: 0;
    margin: 0;
    background: solid;
    background-color: var(--background-color);
}
p {
    padding: 0;
    margin: 0;
}

#pageinput {
    width: var(--pageinput-width);
    text-align: right;
}

#content {
    --left: max(var(--infobar-size), calc(50% - (var(--content-width) / 2)));
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; /* The scrollbar of the iframe should be at the rightmost point
                 The content should be left aligned to allow this to be possible. */
    left: var(--left);
}

#infobar {
    position: fixed;
    top: 0;
    margin: var(--infobar-margin);
    width: var(--infobar-width);
    font-size: var(--infobar-font-size);
    font-family: var(--infobar-font-family);
}

body,form, input, h1,h2,h3,h4,h5,h6 {
    color: var(--foreground-color); 
    background-color: var(--background-color); 
}

a {
    color: var(--color-primary-a30);
    /*text-decoration: underline !important;*/
}
